.bg {
    display:flex;
    height: 100vh;
    max-width: 1440px;
    flex-direction: column;
    align-items: center;
    background-color: hsl(237, 14%, 26%);
}
.block {
    background-color: hsl(233, 14%, 35%);
    width: 500px;
    height: 65px;
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
.circle {
    cursor: pointer;
    margin: 17px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid rgb(179, 172, 172);
}
.gr-input {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    color:rgb(179, 172, 172);
    border-right: solid hsl(220, 98%, 61%);
    padding-right: 8px;
}
.gr-new {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    color: rgb(179, 172, 172);
    margin-left: 17px;
    cursor: pointer;
}
.new-todo {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    height: 55px;
    width: 255px;
    margin-left: 10px;
    background-color: hsl(233, 14%, 35%);
    border: solid hsl(233, 14%, 35%);
}
.circle-todo {
    border: solid hsl(236, 33%, 92%);
}
 .border-blue {
    border: solid hsl(220, 98%, 61%);
}    
.gr {
    color: rgb(179, 172, 172);
    margin-left: 17px;
    width:380px;
    cursor: pointer;
}
.all {
    font-family: 'Josefin Sans', sans-serif;
    cursor: pointer; 
    color: rgb(179, 172, 172);
    margin-right: 10px;
}
.bright {
    color: hsl(236, 33%, 92%);
}
 .end {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
.drag {
    margin-top: 30px;
    cursor: pointer; 
    color: rgb(179, 172, 172);
    font-family: 'Josefin Sans', sans-serif;
}
.to-compl {
    text-decoration:line-through ;
    color: rgb(179, 172, 172);
}
.check-back {
    background: linear-gradient(to bottom, hsl(192, 100%, 67%), hsl(280, 87%, 65%)); 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33px;
    width: 33px;
    border-radius: 50%;
    border: solid hsl(233, 14%, 35%);
}
.all-blue {
    color: hsl(220, 98%, 61%);
}   
.gray {
    color: rgb(179, 172, 172);
}
.pad {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    cursor: pointer;
    background-color: hsl(233, 14%, 35%);
    border: solid  hsl(233, 14%, 35%);
    overflow: hidden;
}
.block-bb {
    background-color: hsl(233, 14%, 35%);
    border-bottom: 1px solid rgb(179, 172, 172);
    width: 500px;
    height: 65px;
    display:flex;
    justify-content: space-between;
    align-items: center;
} 
 .d-flex {
    display:flex;
    justify-content: flex-start;
    align-items: center;
}  
.g-button {
    background-color: hsl(233, 14%, 35%);
    border: solid  hsl(233, 14%, 35%);
    font-size: 30px;
    color: hsl(234, 11%, 52%);
} 

